@import url(../modules/utils.css);
@import url(../modules/reset.css);
@import url(../modules/comps.css);
@import url(../modules/fonts.css);


header{
    height: 9rem;
    border: 0.2rem solid var(--black);
    font-family: Yekan;
}
.header-inner{
    margin: 0rem 2rem;
    align-items: center;
    height: 100%;
    font-family: 'Yekan';
}
.header-right{
    margin-right: 20%;
}
main{
    margin-top: 10rem !important;

}
.address{
    font-size: medium;
    flex-grow: 1;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0px 4px 23px #21212118;
}
.address i{
    margin: 0 0.5rem;
}
article{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    box-shadow: 0px 4px 23px #21212118;
}
article .btn-noback{
    margin: 0rem 1rem;
}
article .buttons{
    margin-top: 2rem;
}
article .head{
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
    border-bottom: 1px var(--grey) solid;
}
.under-images{
    display: flex;
    justify-content: space-evenly;
}
.under-images img{
    width: 20rem;
}
.images .main{
    width: 97rem;
    margin-bottom: 1rem;
}
.images{
    display: flex;
    flex-direction: column;
}
.images .under{
    margin: 0 0.5rem;
}
.text{
    font-size: medium;
    width: 100%;
    justify-self: flex-start;
    padding: 2rem 0;
}
.text p {
    max-width: 75%;
}
.pfp{
    padding: 0 5rem;
    
}
h1,h2,h3,h4{
    color: var(--blue);
}

.sidebar{
    box-shadow: 0px 4px 23px #21212118;
    height: fit-content;
    margin: 0 2rem;
    border-radius: 1rem;
    padding: 1rem;
}

.sidebar .details{
    flex-direction: column;
}
.sidebar .detail-box{
    padding: 1rem 0;
    justify-content: space-between;
    font-size: large;
    /* background: red; */
    margin-bottom: 1rem;
    border-bottom: 1px var(--grey) solid;

}
#apartment{
    flex-direction: column;
}
#apartment-in{
    margin-top: 1rem;
    width: 100%;
    justify-content: space-between;
}
.fullwidth{
    width: 100%;
    border: 0.2rem solid transparent;
    border-radius: 0.5rem;
    font-family: Arial;
    color: var(--white);
    font-size: 2rem;
    background: #6768AB80;
    padding: 1rem 2rem 1rem 2rem;
    text-decoration: none;
    direction: ltr;
}
.sidebar .buttons {
    width: 100%;
    justify-content: center;
}
.side{
    flex-direction: column;
    align-items: center;
}
.side .form{
    width: 89%;
    justify-content: center;

}
.form form{
    width: 95%;
    justify-content: space-between;
    flex-direction: column;
}
.sabt{
    justify-content: space-around;
}
.sabt .btn {
    width: 45%;
    cursor: pointer;
}
.form textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
/*  */

.box{
    box-shadow: 0px 4px 23px #21212118;
    border-radius: 3rem;
    height: 33rem;
    width: fit-content;
}

.icon{
    color: transparent;
}
.details-box{
    display: flex;
    justify-content: center;
    gap: 15rem;
}
.details-right{
    display: flex;
    flex-direction: column;
}
.details-left{
    display: flex;
    flex-direction: column;
}
.price{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;

}
.price-text{
    color: #6768AB;
}
.user-act{
    border-top: .1rem solid grey;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 15rem;
    
}
.cards{
    flex-direction: row;
    justify-content:space-between;
}
.box .btn{
    padding: 0.5rem;
    font-size: small;
}
footer{
    margin-top: 10rem;
    display: flex;
    background-color:var(--grey);
    height: 20rem;
}
.footer-middle{
    margin-right: 75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: .1rem solid grey;
    border-left: .1rem solid grey;
    height:20rem;
}
.footer-middle ul{
    width: 15rem;
}
.namad-box{
    color: transparent;
    text-align: center;
    background-color: var(--white);
    width: 15rem;
    height: 15rem;
}
.footer-left{
    display: flex;
    flex-direction: row;
    margin-right: 11rem;
    gap: 2rem;
}
.footer-bottom{
    border-top: .1rem solid var(--black);
    background-color: var(--grey);
    display: flex;
    flex-direction: row;
}
.footer-bottom-text{
    margin-right: 10rem;
}
.footer-bottom-icons{
    display: flex;
    flex-direction: row;
    margin-right: 100rem;

}
.footer-bottom-icons ul{
    display: flex;
    flex-direction: row;
}